/****** General ***********/

.main-container {
    max-width: 1440px;
    min-width: 1024px;
}

* {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid, .fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ******/

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/****** HEADER ******/

.site-header {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.site-header img {
    height: 20px;
    margin: 30px 0;
}

.site-header nav {
    width: 100%;
    display: flex;
    justify-content: end;
}

.site-header nav a {
    padding-top: 10px;
    margin-left: 50px;

}
.site-header a {
    text-decoration: none;
    color: black;
}

.site-header a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/****** SEARCH ******/
h2 {
    margin-bottom: 10px;
}

.search {
    display: flex;
    align-items: center;
    margin: 35px 0;
    height: 25px;
}

.fa-location-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    font-size: 20px;
    height: 25px;
    width: 25px;
    padding: 9px 10px;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    color: black;
}

.search input {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    border-top-left-radius: 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;;
    border-left: none;
    border-right: none;
    font-weight: bold;
}

.search ::placeholder {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: black;
    opacity: 1;
}

.search p {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    background-color    : #0065FC;
    color: white;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    padding: 1px 10px;
}

/****** FILTERS ******/
.filters {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 25px;
}

.filters p {
    margin: 15px;
    margin-left: 0;
}

.buttons button {
    font-weight: bold;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #d9d9d9;
    font-size: 1.1em;
    background-color: white;
    cursor: pointer;
    margin-right: 15px;
}

.buttons .budget {
    width: 125px;
}

.buttons .family-friendly {
    width: 200px;
}

.buttons .romantic {
    width: 150px;
}

.buttons .top-picks {
    width: 180px;
}

.buttons button:hover {
    background-color: #DEEBFF;
}

.padding-right {
    padding-right: 10px;
}

.info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.fa-info {
    font-size: 0.75em;
    border: 1px solid #dadada;
    padding: 5px 9px;
    border-radius: 50px;
}

.info p {
    padding-left: 10px;
}

/****** Accomodation ******/
.accommodation {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}

.accommodation .card {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 210px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.accommodation img {
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 110px;
    width: 100%;
    object-fit: cover;
}

.card .card-text {
    padding: 10px;
}

.card .card-text h3 {
    padding: 5px 0;
}

.card .stars {
    padding-left: 10px;
}

.accommodation h2 {
    width: 100%;
}

.accommodation .show-more {
    display: block;
    float: left;
}

/****** Things To Do ******/
.things-to-do {
    margin: 75px 25px 75px 25px;
    display: inline-flex;
    flex-wrap: wrap;
}

.things-to-do .card-container {
    
    display: inline-flex;
    gap: 25px;
}

.things-to-do .card-text h3 {
    padding: 10px;
}

.things-to-do .card {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.2));
    display: flex;
    flex-direction: column;
    width: 16%;
    padding: 0;
}

.card-last {
    margin-right: 0 !important;
}

.things-to-do img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
}

.things-to-do h2 {
    width: 100%;
    margin-bottom: 10px;
}

/****** FOOTER ******/
footer {
    background-color: #F2F2F2;
    height: 210px;
}

footer a {
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding: 25px 25px;
}

footer a:visited {
    color: black;
}

footer li:nth-child(n):nth-child(-n+3) {
    padding-bottom: 25px;
}

footer .container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

/****** DESKTOP ******/
@media screen and (min-width: 1440px) {
    .main-container {
        max-width: 1440px;
        min-width: 1024px;
        margin: 0 auto;
    }
}

/****** TABLET ******/
@media screen and (max-width: 1024px) {
    .main-container {
        max-width: 1024px;
    }

    .accommodation-and-popular {
        display: flex;
        flex-wrap: wrap;
    }

    .accommodation {
        width: 100%;
        margin-bottom: 50px;
    }

    .popular {
        width: 100%;
    }

    .popular-cards {
        display: inline-flex;
        gap: 25px;
    }

    .popular-cards .card {
        width: 100%;
    }

    .things-to-do {
        height: 350px;
    }

    .things-to-do .card-container {
        height: 350px;
    }

    .things-to-do .card {
        width: 14.8%;
        margin: 0;
    }

    .filters {
        display: block;
    }

    footer {
        height: 205px;
    }
}

@media screen and (max-width:768px) {
    * {
        margin: 0;
    }
    .main-container {
        display: block;
        max-width: 768px;
        min-width: 320px;
        width: 100%;
        padding: 0;
    }
    
    .site-header {
        padding: 0;
        display: block;
    }

    .site-header img {
        display: block;
        margin: 30px auto;
        height: 25px;
    }

    .site-header nav {
        display: flex;
        justify-content: space-evenly;
        white-space: nowrap;
    }

    .site-header nav a {
        font-size: 20px;
        margin: 0px;
        padding: 0 10%;
        padding-bottom: 15px;
    }

    .site-header nav a:hover {
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    .body-container {
        padding: 25px;
    }

    p {
        font-size: 1.2rem;
    }

    .search {
        justify-content: center;
    }

    .search p {
        content: url(/images/accommodation/magnifying-glass-solid.svg);
        border-radius: 15px;
        padding: 15px;
        height: 15px;
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
    }

    .buttons {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 10px;
    }

    .buttons button {
        margin: 0;
    }

    .filters button {
        padding: 0;
        width: 175px !important;
    }

    .buttons .budget {
        margin-left: 0;
    }

    .buttons .romantic {
        margin-left: 0;
    }

    .info p {
        font-size: 1.4rem;
    }

    .popular-title {
        margin-bottom: 25px;
    }

    .popular-cards {
        flex-direction: column;
    }

    .popular-cards .card {
        margin-top: 0;
    }

    .accommodation-and-popular {
        flex-direction: column-reverse;
    }

    .accommodation-and-popular section {
        border-radius: 0;
    }

    .accommodation-and-popular .accommodation {
        flex-direction: column;
        background-color: white !important;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .accommodation .card {
        height: 250px;
        width: 100%;
    }

    .accommodation img {
        height: 150px;
    }

    .things-to-do {
        margin-top: 75px;
        display: flex;
    }

    .things-to-do h2 {
        padding-bottom: 25px;
    }

    .things-to-do .card-container {
        flex-direction: column;
        width: 100%;
        margin-bottom: 50px;
    }

    .things-to-do .card {
        width: 100%;
        height: 200px;
    }

    .things-to-do img {
        object-fit: cover;
        height: 150px
    }

    .things-to-do .card-text {
        padding-left: 20px;
    }

    /******FOOTER******/

    footer {
        margin-top: 650px;
        height: 500px;
    }

    footer .container {
        flex-direction: column;
    }

    footer ul {
        padding-bottom: 0;
    }
}